html,
body {
  width: 98vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0.5em;
}

/* mindy added the line below*/
.lg-img {
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

.about {
  padding-left: 20px;
  font-size: 20px;
}
/* mindy added the lines above*/

p {
  margin: 0;
}
p + p {
  margin-top: 32px;
}

.base {
  color: black;
}

[data-zoom-backdrop='active'] {
	opacity: 0;
	pointer-events: auto;
}

[data-zoom-image] {
	position: relative;
	z-index: 800;
	transform: none;
	transition: transform 400ms ease;
	cursor: zoom-in;
}

[data-zoom-image='active'] {
	z-index: -1000;
	cursor: zoom-out;
}

nav {
  font-size: 32px;
  display: block;
  padding: 20px 0px 50px 0px;
}
main {
  font-size: 32px;
  padding: 20px 32px 50px 0px;
}

#edit-link {
  display: none;
}
#edit-link a, #edit-link a:active {
  color: black;
}
#edit-link a:hover {
  color: blue;
}

@media (min-width: 1000px) {
  .layout {
    display: flex;
    flex-direction: row;
  }
  nav {
    display: block;
    width: 25%;
    min-width: 250px;
    font-size: 32px;
  }
  main {
    flex: 1;
    font-size: 32px;
  }
  #edit-link {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
  .about {
    font-size:32px;
  }
}

.annotation {
  margin-right: 0;
  margin-left: 0;
  display: inline;
}
.annotation + .annotation {
  margin-left: 0;
}
.annotation p,
.annotation div,
.annotation img,
.annotation ul,
.annotation li,
.annotation h1,
.annotation h2,
.annotation h3,
.annotation h4,
.annotation h5 {
  display: inline;
  margin: auto;
  height: auto;
}
.annotation img {
  height: 26px;
  width: auto;
}
.annotation a {
  color: inherit;
}
.annotation .user-content {
  margin-right: 10px;
}
.sm2_link.sm2_playing {
  /* background: red; */
  opacity: 1;
  animation: fade 2s linear infinite;
}

@keyframes fade {
  0% { opacity: .1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}



/***** default  *****/
.color--default {
  color: cornflowerblue;
}
.icon--default {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: initial;
  background-size: contain;
  background-color: cornflowerblue;
  mask-image: url(img/sun.svg);
  -webkit-mask-image: url(img/sun.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;

  width: 25px;
  height: 25px;
  margin-right: 0;
  display: inline-block;
}


/******** begin user icons and colors ********/

/***** 1 — Laura & Laura test *****/
.color--lauracoombs {
  color: plum;
}
.icon--lauracoombs {
  background-color: plum;
  mask-image: url(img/LC-asterisk.svg);
  -webkit-mask-image: url(img/LC-asterisk.svg);
}

/* .color--laura_coombs {
  color: blue;
}
.icon--laura_coombs {
  background-color: blue;
  mask-image: url(img/MORE_ASTERISK_LC_1-01.svg);
  -webkit-mask-image: url(img/MORE_ASTERISK_LC_1-01.svg);
} */

/***** 2 — Mindy & Mindy test *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/MS-asterisk.svg);
  -webkit-mask-image: url(img/MS-asterisk.svg);
}

/* .color--mindyseu_again {
  color: pink;
}
.icon--mindyseu_again {
  background-color: pink;
  mask-image: url(img/more-test-asterisk-2.svg);
  -webkit-mask-image: url(img/more-test-asterisk-2.svg);
} */

/***** 3 — Richard *****/
.color--rchrd2 {
  color: lightsteelblue;
}

.icon--rchrd2 {
  background-color: lightsteelblue;
  mask-image: url(img/sun.svg);
  -webkit-mask-image: url(img/sun.svg);
}

/***** 4 — Joe Potts *****/
.color--joepotts {
  color: orange;
}

.icon--joepotts {
  background-color: orange;
  mask-image: url(img/sun.svg);
  -webkit-mask-image: url(img/sun.svg);
}

/***** 5 — Adam Feldmeth *****/
/* .color--adamfeldmeth {
  color: ;
}
.icon--adamfeldmeth {
  background-color: ;
  mask-image: url(img/AF-asterisk.svg);
  -webkit-mask-image: url(img/AF-asterisk.svg);
} */

/***** 6 — Quentin Gaudry *****/
/* .color--quentingaudry {
  color: ;
}
.icon--quentingaudry {
  background-color: ;
  mask-image: url(img/QG-asterisk.svg);
  -webkit-mask-image: url(img/QG-asterisk.svg);
} */

/***** 7 — Alison Moeller *****/
/* .color--alisonmoeller {
  color: ;
}
.icon--alisonmoeller {
  background-color: ;
  mask-image: url(img/AM-asterisk.svg);
  -webkit-mask-image: url(img/AM-asterisk.svg);
} */

/***** 8 — Ashna Kapadia *****/
/* .color--ashnakapadia {
  color: ;
}
.icon--ashnakapadia {
  background-color: ;
  mask-image: url(img/.svg);
  -webkit-mask-image: url(img/.svg);
} */

/***** 9 — Brenan Stetzer *****/
/* .color--brenanstetzer {
  color: ;
}
.icon--brenanstetzer {
  background-color: ;
  mask-image: url(img/BS-asterisk.svg);
  -webkit-mask-image: url(img/BS-asterisk.svg);
} */

/***** 10 — Eileen Levinson *****/
/* .color--eileenlevinson {
  color: ;
}
.icon--eileenlevinson {
  background-color: ;
  mask-image: url(img/EL-asterisk.svg);
  -webkit-mask-image: url(img/EL-asterisk.svg);
} */

/***** 11 — Emi Takahashi *****/
/* .color--emitakahashi {
  color: ;
}
.icon--emitakahashi {
  background-color: ;
  mask-image: url(img/ET-asterisk.svg);
  -webkit-mask-image: url(img/ET-asterisk.svg);
} */

/***** 12 — Emily Bluedorn *****/
/* .color--emilybluedorn {
  color: ;
}
.icon--emilybluedorn {
  background-color: ;
  mask-image: url(img/EB-asterisk.svg);
  -webkit-mask-image: url(img/EB-asterisk.svg);
} */

/***** 13 — Eric Francisco *****/
/* .color--ericfrancisco {
  color: ;
}
.icon--ericfrancisco {
  background-color: ;
  mask-image: url(img/EF-asterisk.svg);
  -webkit-mask-image: url(img/EF-asterisk.svg);
} */

/***** 14 — JulieHwang *****/
/* .color--juliehwang {
  color: ;
}
.icon--juliehwang {
  background-color: ;
  mask-image: url(img/JH-asterisk.svg);
  -webkit-mask-image: url(img/JH-asterisk.svg);
} */

/***** 15 — Jun Lin *****/
/* .color--junlin {
  color: ;
}
.icon--junlin {
  background-color: ;
  mask-image: url(img/JL-asterisk.svg);
  -webkit-mask-image: url(img/JL-asterisk.svg);
} */

/***** 16 — Katy Nelson *****/
/* .color--katynelson {
  color: ;
}
.icon--katynelson {
  background-color: ;
  mask-image: url(img/KN-asterisk.svg);
  -webkit-mask-image: url(img/KN-asterisk.svg);
} */

/***** 17 — Kyle Richardson *****/
/* .color--kylerichardson {
  color: ;
}
.icon--kylerichardson {
  background-color: ;
  mask-image: url(img/KR-asterisk.svg);
  -webkit-mask-image: url(img/KR-asterisk.svg);
} */

/***** 18 — Lee Noble *****/
/* .color--leenoble {
  color: ;
}
.icon--leenoble {
  background-color: ;
  mask-image: url(img/LN-asterisk.svg);
  -webkit-mask-image: url(img/LN-asterisk.svg);
} */

/***** 19 — Lisa Maione *****/
/* .color--lisamaione {
  color: ;
}
.icon--lisamaione {
  background-color: ;
  mask-image: url(img/LM-asterisk.svg);
  -webkit-mask-image: url(img/LM-asterisk.svg);
} */

/***** 20 — Maxime Pigeon *****/
/* .color--maximepigeon {
  color: ;
}
.icon--maximepigeon {
  background-color: ;
  mask-image: url(img/MP-asterisk.svg);
  -webkit-mask-image: url(img/MP-asterisk.svg);
} */

/***** 21 — MichelleKuan *****/
/* .color--michellekuan {
  color: ;
}
.icon--michellekuan {
  background-color: ;
  mask-image: url(img/MK-asterisk.svg);
  -webkit-mask-image: url(img/MK-asterisk.svg);
} */

/***** 22 — Navine Hattis *****/
/* .color--navinehattis {
  color: ;
}
.icon--navinehattis {
  background-color: ;
  mask-image: url(img/NH-asterisk.svg);
  -webkit-mask-image: url(img/NH-asterisk.svg);
} */

/***** 23 — Rebecca Wilkinson *****/
/* .color--rebeccawilkinson {
  color: ;
}
.icon--rebeccawilkinson {
  background-color: ;
  mask-image: url(img/RW-asterisk.svg);
  -webkit-mask-image: url(img/RW-asterisk.svg);
} */

/***** 24 — Sharanya Durvasula *****/
/* .color--sharanyadurvasula {
  color: ;
}
.icon--sharanyadurvasula {
  background-color: ;
  mask-image: url(img/SD-asterisk.svg);
  -webkit-mask-image: url(img/SD-asterisk.svg);
} */

/***** 25 — Yanchi Huang *****/
/* .color--yanchihuang {
  color: ;
}
.icon--yanchihuang {
  background-color: ;
  mask-image: url(img/YH-asterisk.svg);
  -webkit-mask-image: url(img/YH-asterisk.svg);
} */

/***** 26 — Zenobia Ahmed *****/
/* .color--zenobiaahmed {
  color: ;
}
.icon--zenobiaahmed {
  background-color: ;
  mask-image: url(img/ZA-asterisk.svg);
  -webkit-mask-image: url(img/ZA-asterisk.svg);
} */

/***** 27 — lorem *****/
/* .color-- {
  color: ;
}
.icon-- {
  background-color: ;
  mask-image: url(img/.svg);
  -webkit-mask-image: url(img/.svg);
} */

/***** 28 — lorem *****/
/* .color-- {
  color: ;
}
.icon-- {
  background-color: ;
  mask-image: url(img/-asterisk.svg);
  -webkit-mask-image: url(img/-asterisk.svg);
} */

/***** 29 — lorem *****/
/* .color-- {
  color: ;
}
.icon-- {
  background-color: ;
  mask-image: url(img/-asterisk.svg);
  -webkit-mask-image: url(img/-asterisk.svg);
} */

/***** 30 — lorem *****/
/* .color-- {
  color: ;
}
.icon-- {
  background-color: ;
  mask-image: url(img/-asterisk.svg);
  -webkit-mask-image: url(img/-asterisk.svg);
} */

/***** 31 — lorem *****/
/* .color-- {
  color: ;
}
.icon-- {
  background-color: ;
  mask-image: url(img/-asterisk.svg);
  -webkit-mask-image: url(img/-asterisk.svg);
} */

/***** 32 — lorem *****/
/* .color-- {
  color: ;
}
.icon-- {
  background-color: ;
  mask-image: url(img/-asterisk.svg);
  -webkit-mask-image: url(img/-asterisk.svg);
} */

/***** 33 — lorem *****/
/* .color-- {
  color: ;
}
.icon-- {
  background-color: ;
  mask-image: url(img/-asterisk.svg);
  -webkit-mask-image: url(img/-asterisk.svg);
} */

/***** 34 — lorem *****/
/* .color-- {
  color: ;
}
.icon-- {
  background-color: ;
  mask-image: url(img/-asterisk.svg);
  -webkit-mask-image: url(img/-asterisk.svg);
} */

/***** 35 — lorem *****/
/* .color-- {
  color: ;
}
.icon-- {
  background-color: ;
  mask-image: url(img/-asterisk.svg);
  -webkit-mask-image: url(img/-asterisk.svg);
} */

