html,
body {
  width: 98vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0.5em;
}

.lg-img {
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

.about {
  padding-left: 20px;
  font-size: 20px;
}

p {
  margin: 0;
}
p + p {
  margin-top: 32px;
}

.base {
  color: black;
}

[data-zoom-backdrop='active'] {
	opacity: 0;
	pointer-events: auto;
}

[data-zoom-image] {
	position: relative;
	z-index: 800;
	transform: none;
	transition: transform 400ms ease;
	cursor: zoom-in;
}

[data-zoom-image='active'] {
	z-index: -1000;
	cursor: zoom-out;
}

nav {
  font-size: 32px;
  display: block;
  padding: 20px 0px 50px 0px;
}
main {
  font-size: 32px;
  padding: 20px 32px 50px 0px;
}

#edit-link {
  display: none;
}
#edit-link a, #edit-link a:active {
  color: black;
}
#edit-link a:hover {
  color: blue;
}

@media (min-width: 1000px) {
  .layout {
    display: flex;
    flex-direction: row;
  }
  nav {
    display: block;
    width: 25%;
    min-width: 250px;
    font-size: 32px;
  }
  main {
    flex: 1;
    font-size: 32px;
  }
  #edit-link {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
  .about {
    font-size:32px;
  }
}

.annotation {
  margin-right: 0;
  margin-left: 0;
  display: inline;
}
.annotation + .annotation {
  margin-left: 0;
}
.annotation p,
.annotation div,
.annotation img,
.annotation ul,
.annotation li,
.annotation h1,
.annotation h2,
.annotation h3,
.annotation h4,
.annotation h5 {
  display: inline;
  margin: auto;
  height: auto;
}
.annotation img {
  height: 26px;
  width: auto;
}
.annotation a {
  color: inherit;
}
.annotation .user-content {
  margin-right: 10px;
}
.sm2_link.sm2_playing {
  /* background: red; */
  opacity: 1;
  animation: fade 2s linear infinite;
}

@keyframes fade {
  0% { opacity: .1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}



/***** default  *****/
.color--default {
  color: cornflowerblue;
}
.icon--default {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: initial;
  background-size: contain;
  background-color: cornflowerblue;
  mask-image: url(img/sun.svg);
  -webkit-mask-image: url(img/sun.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;

  width: 25px;
  height: 25px;
  margin-right: 0;
  display: inline-block;
}


/******** ADD PARTICIPANTS + COLOR + SVG HERE ********/

/***** 0 — Richard *****/
.color--rchrd2 {
  color: lightsteelblue;
}

.icon--rchrd2 {
  background-color: lightsteelblue;
  mask-image: url(img/sun.svg);
  -webkit-mask-image: url(img/sun.svg);
}

/***** 1 — Laura *****/
.color--lauracoombs {
  color: plum;
}
.icon--lauracoombs {
  background-color: plum;
  mask-image: url(img/LC-asterisk.svg);
  -webkit-mask-image: url(img/LC-asterisk.svg);
}

/***** 2 — Mindy *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/MS-asterisk.svg);
  -webkit-mask-image: url(img/MS-asterisk.svg);
}

/***** 3 — Joe Potts *****/
.color--jmp {
  color: lavender;
}

.icon--jmp {
  background-color: lavender;
  mask-image: url(img/JP-asterisk.svg);
  -webkit-mask-image: url(img/JP-asterisk.svg);
}

/***** 4 — Adam Feldmeth *****/
.color--afeldmeth {
  color: ;
}
.icon--afeldmeth {
  background-color: ;
  mask-image: url(img/AF2-asterisk.svg);
  -webkit-mask-image: url(img/AF2-asterisk.svg);
} 

/***** 5 — Alex Lahr *****/
.color--lxlahr3 {
  color: Crimson;
}
.icon--lxlahr3 {
  background-color: Crimson;
  mask-image: url(img/AL-asterisk.svg);
  -webkit-mask-image: url(img/AL-asterisk.svg);
} 

/***** 6 — Alison Moeller *****/
.color--alisonmoeller {
  color: ;
}
.icon--alisonmoeller {
  background-color: ;
  mask-image: url(img/AM-asterisk.svg);
  -webkit-mask-image: url(img/AM-asterisk.svg);
} 

/***** 7 — Amy Fang *****/
.color--azfang {
  color: thistle;
}
.icon--azfang {
  background-color: thistle;
  mask-image: url(img/AF-asterisk.svg);
  -webkit-mask-image: url(img/AF-asterisk.svg);
} 

/***** 8 — Ashna Kapadia *****/
.color--ashkap1234 {
  color: lightsteelblue;
}
.icon--ashkap1234 {
  background-color: lightsteelblue;
  mask-image: url(img/.svg);
  -webkit-mask-image: url(img/.svg);
} 

/***** 9 — BJ Strew (W Roque Strew) *****/
.color--roquestrew {
  color: darkorchid;
}
.icon--roquestrew {
  background-color: darkorchid;
  mask-image: url(img/BJS-asterisk.svg);
  -webkit-mask-image: url(img/BJS-asterisk.svg);
} 

/***** 10 — Brenan Stetzer *****/
.color--bstetzer {
  color: darkorange;
}
.icon--bstetzer {
  background-color: darkorange;
  mask-image: url(img/BS-asterisk.svg);
  -webkit-mask-image: url(img/BS-asterisk.svg);
} 

/***** 11 — Ed Ryan *****/
.color--E_a_ryan {
  color: RosyBrown;
}
.icon--E_a_ryan {
  background-color: RosyBrown;
  mask-image: url(img/ER-asterisk.svg);
  -webkit-mask-image: url(img/ER-asterisk.svg);
} 

/***** 12 — Eileen Levinson *****/
.color--eileenmachine {
  color: tomato;
}
.icon--eileenmachine {
  background-color: tomato;
  mask-image: url(img/EL-asterisk.svg);
  -webkit-mask-image: url(img/EL-asterisk.svg);
} 

/***** 13 — Emi Takahashi *****/
.color--emitakahashi {
  color: darkkhaki;
}
.icon--emitakahashi {
  background-color: darkkhaki;
  mask-image: url(img/ET-asterisk.svg);
  -webkit-mask-image: url(img/ET-asterisk.svg);
} 

/***** 14 — Emily Bluedorn *****/
.color--ebluedorn {
  color: seagreen;
}
.icon--ebluedorn {
  background-color: seagreen;
  mask-image: url(img/EB-asterisk.svg);
  -webkit-mask-image: url(img/EB-asterisk.svg);
} 

/***** 15 — Emily Yang *****/
.color--emilybyang {
  color: MidnightBlue;
}
.icon--emilybyang {
  background-color: MidnightBlue;
  mask-image: url(img/EY-asterisk.svg);
  -webkit-mask-image: url(img/EY-asterisk.svg);
} 

/***** 16 – Eric Francisco *****/
.color--eafrancisco {
  color: ;
}
.icon--eafrancisco {
  background-color: ;
  mask-image: url(img/EF-asterisk.svg);
  -webkit-mask-image: url(img/EF-asterisk.svg);
} 

/***** 17 — Jean Chung *****/
.color--jeaano {
  color: DarkOrchid;
}
.icon--jeaano {
  background-color: DarkOrchid;
  mask-image: url(img/JC-asterisk.svg);
  -webkit-mask-image: url(img/JC-asterisk.svg);
} 

/***** 18 — Joy J *****/
.color--joyjade {
  color: lawngreen;
}
.icon--joyjade {
  background-color: lawngreen;
  mask-image: url(img/JJ-asterisk.svg);
  -webkit-mask-image: url(img/JJ-asterisk.svg);
} 

/***** 19 — Juan Pablo Rahal *****/
.color--juanpablorahal {
  color: BlueViolet;
}
.icon--juanpablorahal {
  background-color: BlueViolet;
  mask-image: url(img/JR-asterisk.svg);
  -webkit-mask-image: url(img/JR-asterisk.svg);
} 

/***** 20 — Julie Hwang *****/
.color--julieok {
  color: Chartreuse;
}
.icon--julieok {
  background-color: Chartreuse;
  mask-image: url(img/JH-asterisk.svg);
  -webkit-mask-image: url(img/JH-asterisk.svg);
} 

/***** 21 — Jun Lin (Yu Chun Lin) *****/
.color--yuujunlin {
  color: Saddlebrown;
}
.icon--yuujunlin {
  background-color: Saddlebrown;
  mask-image: url(img/JL-asterisk.svg);
  -webkit-mask-image: url(img/JL-asterisk.svg);
} 

/***** 22 — Kate Opre *****/
.color--kateopre {
  color: orangered;
}
.icon--kateopre {
  background-color: orangered;
  mask-image: url(img/KO-asterisk.svg);
  -webkit-mask-image: url(img/KO-asterisk.svg);
} 

/***** 23 — Katy Nelson *****/
.color--katy.nelson {
  color: goldenrod;
}
.icon--katy.nelson {
  background-color: goldenrod;
  mask-image: url(img/KN-asterisk.svg);
  -webkit-mask-image: url(img/KN-asterisk.svg);
} 

/***** 24 — Kyle Richardson *****/
.color--rylekich {
  color: MediumSlateBlue;
}
.icon--rylekich {
  background-color: MediumSlateBlue;
  mask-image: url(img/KR-asterisk.svg);
  -webkit-mask-image: url(img/KR-asterisk.svg);
} 

/***** 25 — Lee Noble *****/
.color--yoshimi1983 {
  color: DimGray;
}
.icon--yoshimi1983 {
  background-color: DimGray;
  mask-image: url(img/LN-asterisk.svg);
  -webkit-mask-image: url(img/LN-asterisk.svg);
} 

/***** 26 — Leslie Liu *****/
.color--saladmom {
  color: RosyBrown;
}
.icon--saladmom {
  background-color: RosyBrown;
  mask-image: url(img/LL-asterisk.svg);
  -webkit-mask-image: url(img/LL-asterisk.svg);
} 

/***** 27 — Lisa Maione *****/
.color--lisamaione {
  color: DarkTurquoise;
}
.icon--lisamaione {
  background-color: DarkTurquoise;
  mask-image: url(img/LM-asterisk.svg);
  -webkit-mask-image: url(img/LM-asterisk.svg);
} 

/***** 28 — Maxime Pigeon *****/
.color--maximepigeon {
  color: DeepSkyBlue;
}
.icon--maximepigeon {
  background-color: DeepSkyBlue;
  mask-image: url(img/MP-asterisk.svg);
  -webkit-mask-image: url(img/MP-asterisk.svg);
} 

/***** 29 — Michelle Kuan *****/
.color--michelllekuan {
  color: DarkKhaki;
}
.icon--michelllekuan {
  background-color: DarkKhaki;
  mask-image: url(img/MK-asterisk.svg);
  -webkit-mask-image: url(img/MK-asterisk.svg);
} 

/***** 30 — Naveen Hattis *****/
.color--naveenhattis {
  color: DarkGreen;
}
.icon--naveenhattis {
  background-color: DarkGreen;
  mask-image: url(img/NH-asterisk.svg);
  -webkit-mask-image: url(img/NH-asterisk.svg);
} 

/***** 31 — Paloma Izquierdo *****/
.color--palomaizquierdo {
  color: Black;
}
.icon--palomaizquierdo {
  background-color: Black;
  mask-image: url(img/PI-asterisk.svg);
  -webkit-mask-image: url(img/PI-asterisk.svg);
}

/***** 32 — Quentin Gaudry *****/
.color--qdry {
  color: Sienna;
}
.icon--qdry {
  background-color: Sienna;
  mask-image: url(img/QG-asterisk.svg);
  -webkit-mask-image: url(img/QG-asterisk.svg);
} 

/***** 33 — Rebecca Wilkinson *****/
.color--rebeccawilki {
  color: MediumSpringGreen;
}
.icon--rebeccawilki {
  background-color: MediumSpringGreen;
  mask-image: url(img/RW-asterisk.svg);
  -webkit-mask-image: url(img/RW-asterisk.svg);
} 

/***** 34 — Sharanya Durvasula *****/
.color--shardurv {
  color: SaddleBrown;
}
.icon--shardurv {
  background-color: SaddleBrown;
  mask-image: url(img/SD-asterisk.svg);
  -webkit-mask-image: url(img/SD-asterisk.svg);
} 

/***** 35 — Silas Munro *****/
.color--Siborg81  {
  color: DarkGoldenrod;
}
.icon--Siborg81  {
  background-color: DarkGoldenrod;
  mask-image: url(img/SM-asterisk.svg.svg);
  -webkit-mask-image: url(img/SM-asterisk.svg);
} 

/***** 36 — Valentina Vergara *****/
.color--valentina_vergara {
  color: LemonChiffon;
}
.icon--valentina_vergara {
  background-color: LemonChiffon;
  mask-image: url(img/VV-asterisk.svg);
  -webkit-mask-image: url(img/VV-asterisk.svg);
} 

/***** 37 — Yanchi Huang *****/
.color--ych {
  color: ;
}
.icon--ych {
  background-color: ;
  mask-image: url(img/YH-asterisk.svg);
  -webkit-mask-image: url(img/YH-asterisk.svg);
} 

/***** 38 — Zach Whitworth *****/
.color--zachwhitworth {
  color: Coral;
}
.icon--zachwhitworth {
  background-color: Coral;
  mask-image: url(img/ZW-asterisk.svg.svg);
  -webkit-mask-image: url(img/ZW-asterisk.svg);
} 

/***** 39 — Zenobia Ahmed *****/
.color--zenobiaahmed {
  color: SpringGreen	;
}
.icon--zenobiaahmed {
  background-color: SpringGreen	;
  mask-image: url(img/ZA-asterisk.svg);
  -webkit-mask-image: url(img/ZA-asterisk.svg);
}