html,
body {
  width: 98vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0.5em;
}

.lg-img {
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

.about {
  /* padding-left: 20px; */
  font-size: 20px;
}

p {
  margin: 0;
}
p + p {
  margin-top: 32px;
}

.base {
  color: black;
}

[data-zoom-backdrop='active'] {
	opacity: 0;
	pointer-events: auto;
}

[data-zoom-image] {
	position: relative;
	z-index: 800;
	transform: none;
	transition: transform 400ms ease;
	cursor: zoom-in;
}

[data-zoom-image='active'] {
	z-index: -1000;
	cursor: zoom-out;
}

nav {
  font-size: 20px !important;
  display: block;
  padding: 0px 0px 50px 0px;
}
main {
  font-size: 20px !important;
  padding: 0px 32px 50px 0px;
  max-width: 75%;
}

#edit-link {
  display: none;
}
#edit-link a, #edit-link a:active {
  color: black;
}
#edit-link a:hover {
  color: blue;
}

@media (min-width: 1000px) {
  .layout {
    display: flex;
    flex-direction: row;
  }
  nav {
    display: block;
    width: 25%;
    min-width: 220px;
    font-size:0px;
  }
  main {
    flex: 1;
    font-size: 20px !important;
  }
  #edit-link {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
  .about {
    font-size:20px;
  }
}

.annotation {
  margin-right: 0;
  margin-left: 0;
  display: inline;
}
.annotation + .annotation {
  margin-left: 0;
}

.annotation p,
.annotation div,
.annotation img,
.annotation ul,
.annotation li,
.annotation h1,
.annotation h2,
.annotation h3,
.annotation h4,
.annotation h5 {
  display: inline;
  margin: auto;
  height: 18px;
}
.annotation img {
  height: 16px;
  width: auto;
}
.annotation a {
  color: inherit;
  word-break: break-all;
}
.annotation .user-content {
  margin-right: 10px;
}
.sm2_link.sm2_playing {
  /* background: red; */
  opacity: 1;
  animation: fade 2s linear infinite;
}

@keyframes fade {
  0% { opacity: .1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}



/***** default  *****/
.color--default {
  color: cornflowerblue;
}
.icon--default {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: initial;
  background-size: contain;
  background-color: cornflowerblue;
  mask-image: url(img/sun.svg);
  -webkit-mask-image: url(img/sun.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;

  width: 18px !important;
  height: 18px !important;
  margin-right: 0;
  display: inline-block;
}

