/******** ADD PARTICIPANTS + COLOR + SVG HERE ********/

/***** 1 — Mindy *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 2 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 3 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 4 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 5 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 6 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 7 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 8 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 9 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 10 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 11 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 12 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 13 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 14 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 15 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}

/***** 16 —  *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(img/texas-asterisk.svg);
  -webkit-mask-image: url(img/texas-asterisk.svg);
}
