/******** ADD PARTICIPANTS + COLOR + SVG HERE ********/

/***** 1 — Mindy *****/
.color--mindyseu {
  color: lime;
}
.icon--mindyseu {
  background-color: lime;
  mask-image: url(texas-asterisks/asterisk-1.svg);
  -webkit-mask-image: url(texas-asterisks/asterisk-1.svg);
}
